<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include templates/basic_scripts.ejs %>
    <%
    if(condition==="COMPLETED"){
    %>
    <script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
    <%}%>
</head>
<body>

<% include templates/navbar.ejs %>

<%
if(condition==="COMPLETED"){
%>
    <div id="dropin-container"></div>
<%}%>

<div class="container bootstrap">
    <%if(condition==="POSTED"){%>
    <%- include("templates/post.ejs", {post: "", currentUser: currentUser, isInputCard:true}) %>
    <h2 align="center"><%=condition%></h2>
    <%}else{%>
    <h2 align="center"><%=condition%></h2>
    <%}%>

    <%if(posts.length===0){%>
        <h3 align="center">Nothing to show yet...</h3>
    <%}else{%>
        <h3 align="center">Owned By You</h3>
        <% var counter = 0;
        posts.forEach(function(task){
        if(task.uid_boss===currentUser.uid){
            counter++;
        %>
            <%- include('templates/post.ejs', {post: task, currentUser: currentUser, isInputCard:false, condition: condition}) %>
        <%}%>
        <% });
        if(counter===0){%>
        <h4 align="center">Nothing to show yet...</h4>
        <%}%>
        <h3 align="center">Owned By Others</h3>
        <% counter = 0;
        posts.forEach(function(task){
            console.log("Task owned by " + task.uid_boss + " and done by " + currentUser.uid)
        if(task.uid_boss!==currentUser.uid){
            counter++;
        %>
            <%- include('templates/post.ejs', {post: task, currentUser: currentUser, isInputCard:false, condition: condition}) %>
        <%}%>
        <% });
        if(counter===0){%>
            <h4 align="center">Nothing to show yet...</h4>
        <%}%>
    <%}%>

</div>
</body>
<script>
    ajReq = new XMLHttpRequest();

    ajReq.onreadystatechange = function () {
        if (ajReq.readyState === 4 && ajReq.status === 200) {
            location.reload();
            console.log("time to refresh");
        }
    };


    ajSend = new XMLHttpRequest();
    ajSend.onreadystatechange = function () {
        if (ajSend.readyState !== 4 && ajSend.status === 200) {
            requestData("/home");
            /*switch(ajSend.responseURL){
                case "/like":
                    if(ajReq.responseText === "success"){

                    }
                    break;
                case "/add":
                    break;
                default:
                    break;
            }*/
        }
    };

    function sendDataToServer(input, api, contentType) {
        ajSend.open('POST', api);
        ajSend.setRequestHeader("Content-Type", contentType);
        ajSend.send(input);
    }

    function requestData(api) {
        ajReq.open("GET", api);
        ajReq.send();
        console.log("called " + api + ": waiting for m_data...");
    }

    function takeJob(tid) {
        console.log("Taking job");
        var dataToSend = {tid: tid};
        sendDataToServer(JSON.stringify(dataToSend), '/home/takejob', 'application/json');
    }

    function messageBoss(tid) {
        console.log("message the boss");
        sendDataToServer(JSON.stringify(dataToSend), '/home/newtask', 'application/json');
    }

    function submitNewTask(uid){
        var reward_input = document.getElementById("task-compensation-input");
        var new_instructions = document.getElementById("instructions-text-area");
        var dataToSend = {uid: uid, reward_input: reward_input.value, new_instructions: new_instructions.value};
        console.log(JSON.stringify(dataToSend));
        sendDataToServer(JSON.stringify(dataToSend), '/home/newtask', 'application/json');
    }

    function completeTask(tid){
        var dataToSend = {tid: tid};
        console.log(JSON.stringify(dataToSend));
        sendDataToServer(JSON.stringify(dataToSend), '/home/completetask', 'application/json');
    }
    
    function venmoPayment(tid) {
        var dataToSend = {tid: tid};
        console.log(JSON.stringify(dataToSend));
        sendDataToServer(JSON.stringify(dataToSend), '/home/completepayment', 'application/json');
    }
</script>
</html>
